/* Default styles */
*, *::before, *::after {
  box-sizing: border-box;
}
:root {
    --calendarDisplay: block;
    --diaryEntryDisplay: none;
    --backgroundBodyImage: url("../assets/BrownPaperBackground.jpg");
}
* {
  margin: 0;
}
body {
    width: 100%;
    height: 100%;
}
@font-face {
  font-family: 'nickainley';
  src: url('../assets/Nickainley-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal; 
}

.banner {
    width: 100%;
    margin-top: 2vh;
    background-color: white;
    z-index: 10;
    container-type: inline-size;
}

#banner h1{
    font-family: "nickainley";
    text-align: center;
    padding-top: 10px;
    font-size: 2rem;
}

#banner h2{
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 10px;
}
/* Styles for screens wider than 768px */
@media screen and (min-width: 768px) {
    #banner h1{
        font-size: 3rem;
    }
    #banner h2{
        font-size: 1.5rem;
    }
}

#calendarScreen {
    /* background-image: linear-gradient(rgba(221, 155, 133, 0.55), rgba(221, 155, 133, 0.55)), url("../assets/WhiteWallTexture.jpg"); */
    background-size: cover;
    width: 100%;
    height: 100%;
    display: var(--calendarDisplay);
}

#calendar {
    /* Get calendar as background picture of div */
    background-image: url("../assets/clearCalendar.png");
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    margin: auto;
    margin-top: 5vmin; /* move the calendar down so it has the same amount of margin on top as it does on its sides */
    width: 90vmin;
    height: 90vmin;
    /* position: absolute; */
    background-size: cover;

    /* Make grid that is just over each square in the calendar */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 22%;
    padding-bottom: 5%;
}

.backgroundOfBody {
    background-image: var(--backgroundBodyImage);
    background-size: cover;
}
#diaryEntryScreen {
    width: 100%;
    height: 100%;
    display: var(--diaryEntryDisplay);
}
#diaryEntryWidgets {
    display: flex;
    flex-direction: column;
}